:root{
    /*CORES*/
    --cor-de-fundo: #F3F5F9;
    --fundo-input: #ECF6F7;
    --cor-terciaria: #EFEBEB;
    --cor-botao: #0DB8B7;
    --letra-botao: #FFFFFF;
    --borda: #4EA3A2;
    --cor-primaria: #000000;
    /*FONTE*/
    --fonte: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body{
    font-size: 12px;
    font-family: var(--fonte);
    background-color: var(--cor-de-fundo);
}

.principal{
    display: flex;
    margin: 11em 0 0 26em;
}

.info__lista{
    margin-top: 20px;
}

.container__itens{
    margin-bottom: 30px;
}

.container__info{
    margin-left: 1em;
}

.info__logo, 
.login__logo {
    width: 120px;
}

.container__itens{
    display: flex;
}

.info__titulo{
    font-size: 16px;
    font-weight: bold;
}

.login{
    margin-right: 300px;
}

.caixa{
    border: 1px solid var(--borda);
}

.login__info{
    font-size: 13px;
    font-weight: bold;
    color: #aaaaaa;
}

.login__input{
    display: grid;
}

.navegadores{
    display: flex;
}

.nav__icones{
    text-align: center;
    padding: 1em;
    display: none;
}
